<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".di.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodBondKPI">
        <activity
            android:name=".views.dashboard.appDashboard.tools.AboutApp"
            android:exported="false" />
        <activity
            android:name=".views.dashboard.appDashboard.tools.BMICalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".views.dashboard.userDashboard.UserDashboard"
            android:exported="false"
            android:theme="@style/Theme.BloodBondKPI.App.Ber" />
        <activity
            android:name=".views.auth.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".views.starter.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.dashboard.appDashboard.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BloodBondKPI.App.Ber" />
    </application>

</manifest>